<p id="notice"><%= notice %></p>

<h1>Posts</h1> </br>
<body>
  <% @posts.each do |post| %>
    <h1><%= post.title %></h1>
    <p><%= post.body %></p>
    <% if user_signed_in? %>
      <p><%= post.user.name %></p>
    <% end %>
    <%= link_to 'Show', post %>
    <% if user_signed_in? %>
      <%= link_to 'Edit', edit_post_path(post) %>
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  <% end %>
</body>

<br>

<%= link_to 'New Post', new_post_path %>

<br>

<% if user_signed_in? %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Sign in", user_session, method: :post %>
<% end %>
